/* Start Dialog */

@media screen and (max-width: 760px) {
    .ui-dialog {
        width: 90% !important;
        /* top: -425px !important; */
        /* left: 0 !important; */
        height: 90% !important;
        transform: none !important;
    }

    .dialogButton {
        width: 80% !important;
        height: 50px !important;
    }
}

.ui-dialog {
    background: #0a0a0a;
    border: 2px #b6ff00 solid;
    border-radius: 3px;
    z-index: 1200 !important;
}

.ui-dialog-titlebar {
    background: #0a0a0a;
    text-align: center;
    padding: .5em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.ui-dialog-content {
    min-height: 50px !important;
    padding: 1em 2em;
    font-family: sans-serif;
    font-size: 18px;
    color: #000000 !important;
}

.ui-dialog-buttonset {
    display: flex;
    justify-content: center;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232323;
    opacity: 0.7;
}

.ui-front {
    z-index: 100;
}

.dialogButton {
    height: 40px;
    width: 350px;
    border-radius: 8px;
    background-color: #b6ff00;
    color: #0a0a0a;
    font-size: 18px;
    padding: 5px;
    margin: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.dialogCancelButton {
    height: 40px;
    width: 350px;
    border-radius: 8px;
    background-color: #a2e201;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    margin: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.dialogCancelButton:hover {
    background-color: #a2e201;
    color: #ffffff;
}

.dialogButton:hover {
    background-color: #a2e201; /* Darker green on hover */
    transform: scale(1.05);    /* Slightly grow on hover */
}

.dialogButton:active {
    background-color: #a2e201; /* Even darker when clicked */
    transform: scale(0.98);    /* Slight shrink when clicked */
}

.questionButton {
    height: 40px;
    width: 200px;
    border-radius: 8px;
    background-color: #b6ff00;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    margin: 15px;
}

.inquiryNotice {
    color: #b6ff00
}

.voterNotice {
    font-size: 18.5px !important;
}

.dialogButtonNotice {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background-color: #b6ff00;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    margin: 15px;
}

.friend-request-button {
    background-color: #b6ff00;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: right;
}

.friend-request-button:hover {
    background-color: #a2e201;
}

.disagree {
    background-color: #ff3c3c !important;
}

.caution {
    color: #e65400;
    font-size: 42px !important;
}

.pinContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
  
.pinBox {
    width: 40px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.2s ease;
    color: #9148c4;
}
  
.pinBox:focus {
    outline: none;
    border-color: #b6ff00;
    box-shadow: 0 0 5px #b6ff0099;
  }

.pinWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#toggleVisibility {
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
}
/* End Dialog */

/* Dialog Form */
.form-group {
    margin: 15px auto;
    width: 100%;
}

.form-control {
    float: left;
    width: 75%;
    height: 25px;
    font-size: 14px;
}

.form-control-textfield {
    float: left;
    width: 75%;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

.form-control-header {
    float: left;
    width: 75%;
    height: 25px;
    font-size: 18px;
    font-weight: 400;
}

button {
    /* display: block; */
    padding: 10px;
    margin-top:5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #b6ff00;
    color: #000;
    cursor: pointer;
}

button:hover {
    background-color: #a2e201;
}
